<launch>

    <arg name="topic_raw_imu" default="/imu"/>
    <arg name="topic_raw_odom" default="/odom"/>
    <arg name="topic_msf_in_pose" default="/msf_in_pose"/>
    <arg name="topic_msf_in_imu" default="/msf_in_imu"/>
    <arg name="topic_fused_odom" default="/msf_core/odometry"/>
    <arg name="output_dir" default="/tmp/msf"/>
    <arg name="dataset" default="nothing"/>
    <arg name="enable_tf" default="false"/>

    <param name="/use_sim_time" value="true" />

    <node name="msf_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <rosparam file="$(find msf_updates)/cid_imu_odom.yaml"/>
        <remap from="msf_core/imu_state_input" to="$(arg topic_msf_in_imu)" />
        <remap from="msf_updates/pose_with_covariance_input" to="$(arg topic_msf_in_pose)" />
        <remap from="/msf_core/odometry" to="$(arg topic_fused_odom)" />
    </node>

    <node name="odom_to_pose" pkg="msf_updates" type="odom_to_pose.py" output="screen">
        <remap from="/odom"       to="$(arg topic_raw_odom)" />
        <remap from="/pose"       to="$(arg topic_msf_in_pose)" />
        <remap from="/fused_odom" to="$(arg topic_fused_odom)" />
        <param name="dataname"   type="string" value="$(arg dataset)"/>
        <param name="output_dir" type="string" value="$(arg output_dir)" />
        <param name="enable_tf"  type="bool"   value="$(arg enable_tf)"/>
    </node>

    <node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer_node">
        <param name="target_frame" value="base_link"/>
        <remap from="/imu_in/data" to="$(arg topic_raw_imu)"/>
        <remap from="/imu_out/data" to="$(arg topic_msf_in_imu)"/>
    </node>

    <!-- initialize msf -->
    <node pkg="rosservice" type="rosservice" name="initialize" args="call --wait /msf_pose_sensor/pose_sensor/initialize_msf_scale 1"/>

    <!-- <node name="msg_order_checker" pkg="msf_updates" type="msg_order_checker.py" output="screen">
        <param name="output_dir"  value="$(arg output_dir)" />
        <param name="dataname"    value="$(arg dataset)"/>
    </node> -->
</launch>